div {
    width: 33%;

    border: 5px dashed;
    border-radius: 15px;
    border-top-color: tomato;
    border-right-color: green;
    border-bottom-color: blue;
    border-left-color: indigo;
    padding: 0%;
    row-gap: 0%;
}

h1 {
    background-color: lightblue;
    color: green;
    margin: 0%;
    row-gap: 0%;
}

p {
    background-color: tomato;
    color: yellow;
    margin: 0%;
    row-gap: 0%;
}

h1:hover {
    background-color: yellow;
    color: black;
}
